fastapi
fastapi-mail
numpy
markdown
passlib==1.7.4
bcrypt==4.0.1
python-jose 
uvicorn[standard]
dirtyjson
python-dotenv
sqlalchemy
psycopg2-binary  # For NeonDB (Postgres)
pypdf            # For Resume Parsing
python-multipart # For file uploads
deepgram-sdk
groq
websockets
httpx            # Async HTTP client
fpdf2            # PDF report generation