fastapi
fastapi-mail
numpy
uvicorn[standard]
python-dotenv
sqlalchemy
psycopg2-binary  # For NeonDB (Postgres)
pypdf            # For Resume Parsing
python-multipart # For file uploads
deepgram-sdk
groq
websockets
httpx            # Async HTTP client